<div class="jumbotron mt.4">
    <h1 class="'display-4"> Fondita de doña cuca</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid esse eum maxime delectus id eaque quia hic fuga, nulla maiores! Neque ab numquam dolore aliquam corporis exercitationem? Perspiciatis nam pariatur tempora voluptate vero repellendus, temporibus illo laudantium unde voluptatibus obcaecati. Reprehenderit error exercitationem quae nihil dolores odio. Aspernatur, nostrum molestias?
    </p>
    <hr class="my-4">

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, aperiam eaque qui deserunt laudantium sed voluptatibus quasi obcaecati perspiciatis odio!</p>
    <a href="http://localhost:3000/notes" class="btn btn-primary">Ordenes</a>
</div>